/* ==========================================================================
   Table of Contents
   ========================================================================== 
	
	1. Reset default style
	2. Fonts embed
	3. Main style

*/

/* ==========================================================================
   1. CSS Reset
   ========================================================================== */
	
body, div, input, ul, li {
	padding: 0;
	margin: 0 auto;
}

li {
	list-style: none;
}

input, button {
	border: 0;
	outline: none;
}


/* ==========================================================================
   2. Fonts embed
   ========================================================================== */
	
@font-face {
	font-family: 'webfont';
 	url('//at.alicdn.com/t/sm2kl8tuklxlayvi.woff') format('woff'), /* chrome、firefox */
 	url('//at.alicdn.com/t/sm2kl8tuklxlayvi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
 	url('//at.alicdn.com/t/sm2kl8tuklxlayvi.svg#NotoSansHans-DemiLight') format('svg'); /* iOS 4.1- */
}

.task-input, .task-title {
	font-family: 'webfont', Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

/* ==========================================================================
   3. Main style
   ========================================================================== */
body {
	background-color: #edf0f1;
}

.app-header {
	position: fixed;
	top: 0;
	z-index: 5;
	width: 100%;
	height: 80px;
	background-color: #25b99a;
	box-shadow: 0 2px 3px rgba(44,62,80,0.16);
}

.add-task-box {
	position: relative;
	top: 15px;
	width: 93%;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px 25px 25px 5px;
	overflow: auto;
}

.task-input {
	margin-left: 15px;
	display: block;
	float: left;
	width: 76%;
	min-width: 200px;
	height: 50px;
	font-size: 16px;
	color: #fff;
	background-color: transparent;
}

.task-input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.75);
}
.task-input:-moz-input-placeholder {
	color: rgba(255,255,255,0.75);
}
.task-input::-moz-input-placeholder {
	color: rgba(255,255,255,0.75);
}

.add-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #fff;
	cursor: pointer;
}

.add-btn svg {
	position: absolute;
	top: 16px;
	left: 16px;
	width: 18px;
	height: 18px;
	fill: #25b99a;
}

.app-main {
	margin-top: 80px;
	width: 100%;
	padding: 15px 0;
}

.app-list {
	width: 93%;
}

.task-item {
	position: relative;
	padding: 18px 14px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow:0px 1px 2px rgba(44,62,80,0.10);
	margin-bottom: 10px;
	overflow: auto;
}
.task-item:last-child {
	margin-bottom: 0;
}

.task-title {
	display: block;
	float: left;
	width: 70%;
	font-size: 16px;
	line-height: 1.4em;
}

.task-item-buttons {
	position: absolute;
	right: 2px;
	top: 4px;
}

.task-item-buttons button {
	position: relative;
	float: left;
	width: 50px;
	height: 50px;
	background: none;
	border: 0px;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
}
.task-item-buttons button:last-child:before {
	position:absolute;
	top: 10px;
	left: 0;
	content:'';
	width: 1px;
	height: 30px;
	background-color: #edf0f1;
}
.task-item-buttons button svg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 22px;
	height: 22px;
	margin: -11px 0 0 -11px;
	fill: #c5c9ce;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
	-ms-transition: 0.2s ease;
	-o-transition: 0.2s ease;
	transition: 0.2s ease;
}

.task-item-buttons button.remove:hover svg {
	fill: #e85656;
}

.task-item-buttons button.complete svg {
	width: 28px;
	height: 28px;
	margin: -14px 0 0 -12px;
}

.task-item-buttons button.complete:hover svg {
	fill: #25b99a;
}

#completed-list button.complete svg {
	fill: #25b99a;
}

#completed-list:not(:empty) {
	position: relative;
	padding-top: 60px;
}

#completed-list:not(:empty):before {
	content:'';
	position: absolute;
	top: 30px;
	left: 50%;
	width: 150px;
	height: 1px;
	background-color: #dee3ea;
	margin: 0 0 0 -75px;
}


